/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#F5F5F5;
}

h1 {
    color: #6A5ACD;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

p {
    color: #666;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #333;
}


#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

#main.shifted {
    margin-left: 250px;
}