
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
  .div1 {
      margin: auto;
    width: 50%;
    padding: 10px;
    background-color: blue;
    box-sizing: border-box;
    margin-top: 100px;
  }
  .div1 p {
      color: white;
      background-color: blue;
      text-align: center;
      font-size: 30px;
  }
.button1 {
    
    left: 36.5%;
    width: 22%;
    
    
}
.button2 {
    left: 62.5%;
    width: 25%;
    
}
button {
    color: blue;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
    top: 45%;
    background-color: blue;
    color: white;
}