.flex_container{
    display: flex;
    
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.flexbox{
    
    min-width: 700px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    
}
.flexbox h1,
.flexbox p {
    margin-bottom: 30px;
    text-align: center;
    width: 80%; /* Adjust text width */
    color: blue

}
.flexbox p {
    border-bottom: 2px dotted black;
}
body {
    background-color: white;
    margin: 0;
}
.register {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 9px 0 black;
    margin: 100px auto;
    width: 50%;
}
.register h1 {
    text-align: center;
    color: blue;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid white;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    
}
input {
    display: block;
    border: 2px solid darkgrey;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}
label {
    color: black;
    font-size: 18px;
    padding: 18px;
    justify-content: left;
}

.register form input[type = "submit"] {
    width: 95%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: blue;
    border: 0;
    cursor : pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s;
}
.error{
    background-color: rgb(248, 189, 189);
    color: red;
    padding:10px;
    width: 95%;
    border-radius: 5px;
    font-weight: bolder;
}

.outer_button{
    width: 95%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: orangered;
    border: 0;
    cursor : pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s;
}
